@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel 

    <h1>Bookstore</h1>

        @foreach (Book b in Model.Books)
    {
        <h3>@b.Title</h3>
        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>Price: $@b.Price</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classifcation: @b.Classification</li>
            <li>Category: @b.Category</li>
            <li>PageCount: @b.PageCount</li>
        </ul>
    }
    
<div page-model="@Model.PaginationInfo" page-action="Index">

</div>